*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #706c6c, #272727, #161616);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    height: 40vh; /* Adjusted to auto for dynamic content */
    margin: 50px auto;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1637946175559-22c4fe13fc54?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGRhcmslMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    background-size: cover;
    color: white;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    color: #f9f0f0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width:30vw;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #13b29daf;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  